@font-face {
    font-family: '8bitoperator'; src: url('undertalefontfolder/8bitoperator.otf.woff2') format('truetype'); 
   }

body {
   background-color: rgb(255, 255, 255);
   font-family: '8bitoperator';
   color: rgb(0, 0, 0);
   text-shadow: 8px;
  text-align: center;
}
/*Copyright*/
.box{
   text-align: center;
   background-color: black;
   color: white;
   width: 500px;
   height: 500px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
}
/*back btm*/
.Back{
   width: auto;
   height: auto;
   border-radius: 6px;
   font-family: '8bitoperator';
    background-color: rgb(255, 255, 255);
  text-align: center;
  transform: translateY(-210px);
  transform: translateX(-300px);
   transition: transform 200ms ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
}
/*email btn*/
.mail{
border-radius: 6px;
    background-color: rgb(0, 0, 0);
  text-align: center;
  transform: translateY(-210px);
  transform: translateX(-300px);
   transition: transform 200ms ease;
    box-shadow: 0 0 10px rgba(140, 213, 240, 0.99);
}
button a{
     color: rgb(201, 201, 201);
     text-decoration: none;
     padding: 12px 18px;
    transition: transform 200ms ease;
   }
.mail:hover{
transform:  translateY(300px) scale(1.15);
}