@font-face {
    font-family: '8bitoperator'; src: url('undertalefontfolder/8bitoperator.otf.woff2') format('truetype'); 
   }
   li::marker{
      color: rgb(255, 252, 252);
   }
body {
   background-color: rgb(0, 0, 0);
   font-family: '8bitoperator';
   color: rgb(255, 255, 255);
   text-shadow: 8px;
  text-align: center;
}
/*Mail button*/
.mail{
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
  text-align: center;
  transform: translateY(300px);
   transition: transform 200ms ease;
    box-shadow: 0 0 10px rgba(140, 213, 240, 0.99);
}
/*Mail text anchor (NOT ACTUAL BUTTON)*/
button a{
     color: rgb(201, 201, 201);
     text-decoration: none;
     padding: 12px 18px;
    transition: transform 200ms ease;
   }
.mail:hover{
transform:  translateY(300px) scale(1.15);
}

.title{
   font-weight: bold;
}
.showcase-box{
   width: 300px;
   height: 300px;
   border-radius: 8000px;
   background-color: antiquewhite;
 transform: translateX(390px) scale(1.2) translateY(50px);
   display: flex; 
   flex-direction: column; 
   justify-content: flex-start;  
   align-items: center;
   box-shadow: 0 0px 300px rgba(255, 251, 251, 0.6);
}
.showcase-box p{
   margin-top: 40px;
}
.nothing { 
   display: block;
   position: fixed; 
   top: 50;
   bottom: 30px; 
   right: -70px;
    transform-origin: center center;
   animation: spin 1s linear infinite; 
} 
@keyframes spin { 
   from {
    transform: rotate(0deg); 
   } to {
       transform: rotate(360deg); 
      } 
   }
