body {
   background-color: rgb(234, 201, 141);
   font-family: Comic Sans Ms;
  text-align: center;
}
.mail{
    border-radius: 6px;
    background-color: rgb(165, 131, 88);
    color: bisque;
    font-family: Comic Sans Ms;
  text-align: center;
}
button a{
     color: bisque;
     text-decoration: none;
     transition: 200ms;
}
button a:hover{

}